body {
  max-width: 1300px;
  background-color: black;
  color:#fff;
  font-size: 1em;
  font-weight: lighter;
  font-family: "Lato";
}

/*header, nav,footer, #colgauche,#fondnoir {
  background-color: black;

}*/
h1 {
  font-size: 0.5em;
}
