body {
  max-width: 1300px;
  background-color: black;
  color:#fff;
  font-size: 1em;
  font-family: "Lato";
  line-height: 2em;
}

.no-padding > [class="col-md-2"]{
  padding-left: 0px;
  padding-right: 0px;
}
/*header, nav,footer, #colgauche,#fondnoir {
  background-color: black;

}*/
h1 {
  font-size: 1.8em;
  font-weight: bold;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

h5{
  font-size: 1.1em;
}

ul{
  list-style-type: none;
}

li a{
  color:#fff;
}

#navhaut{
  font-weight: bold;
  margin-top: 1.45em;
}

#navgauche li {
  border-bottom: 0.1em solid  #f8f8ff;
}

#colgauche ul {
  text-align: left;
  padding-left: 0px;
}

.form-control{
  padding: 0px;
  background-color: inherit;
  height: 1.75em;
}

.navbar-form{
  padding-left: 0px;
}

#fondblanc{
  background-color: #fff;
  color:black;
  padding-top: 3em;
}


#audiotheme{
  font-size: 3em;
  font-weight:10;

}
