body {
  max-width: 1300px;
  background-color: black;
  color:#fff;
}

/*header, nav,footer, #colgauche,#fondnoir {
  background-color: black;

}*/


#imagearriere{
  z-index: 1;
  position: relative;
}

.avant{
  z-index: 2;
  position: relative;
}
